.room-page-header {
    filter: invert(1);
}

.room-name {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px; 
}

.room-desc {
    font-size: 14px;
    letter-spacing: .5px;
    margin-bottom: 20px;
    text-align: center;
}