.main-container {
  width: 100vw;
  height: 100vh;
}

/* First Section */
.first-section {
  height: 100vh;
}

.first-section:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;

  background-image: url('@assets/hotel.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  filter: brightness(70%);
  -moz-filter: brightness(70%);
  -webkit-filter: brightness(70%);
  -o-filter: brightness(70%);

  height: 100vh;
  width: 100vw;
}

.hotel-info {
  margin-top: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hotel-info-logo {
  height: 70px;
}

.hotel-info-name {
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  font-family: 'Merriweather', serif;
  margin-top: 10px;
}

.hotel-info-subtitle {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  margin-top: 5px;
}

.hotel-info-about-us {
  padding: 10px 30px;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  border: 2px solid #ffffff;
  cursor: pointer;
  margin-top: 40px;
}

/* SECOND SECTION */
.second-section {
  margin-top: 170px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px){
  .cards {
      flex-direction: row;
      flex-wrap: wrap; /* Permite que as divs internas quebrem para uma nova linha quando não couberem mais */
      gap: 20px;
      justify-content: center;
  }
}

/* THIRD SECTION */
.learn-more-title {
  font-size: 30px;
  font-family: 'Merriweather', serif;
}

.learn-more-text {
  margin-top: 30px;
  color: #adadaf;
  font-size: 14px;
}

.learn-more-btn {
  display: flex;
  justify-content: center;
  padding: 15px 30px;
  margin-top: 25px;
  background-color: #b5913e;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

/* FOURTH SECTION */

.benefits-cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (min-width: 768px){
  .benefits-cards {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

.benefit-card {
  padding: 30px;
  background-color: #f8f8f8f8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.benefit-card img {
  width: 50px;
}

.benefit-card-title {
  margin-top: 20px;
  font-size: 18px;
}

.benefit-card-text {
  font-size: 14px;
  margin-top: 15px;
  color: #adadaf;
}

/* FIFTH SECTION */

.fifth-section {
  height: 455px;
}

@media (min-width: 768px){
  .fifth-section {
    height: auto;
  }
}

.hotel-content-title {
  font-size: 30px;
  font-family: 'Merriweather', serif;
}

.hotel-content-text {
  margin-top: 20px;
  color: #adadaf;
  font-size: 14px;
}

.hotel-content-explore {
  margin-top: 5px;
  font-size: 12px;
  color: #b5913e;
}

.hotel-content-carousel {
  margin-top: 40px;
  position: absolute;
  right: 0;
  left: 0;
}

/* SIXTH SECTION */

.location-title {
  font-size: 30px;
  font-family: 'Merriweather', serif;
}

.location-name {
  text-transform: uppercase;
  font-size: 14px;
  color: #adadaf;
  letter-spacing: 2px;
  margin-top: 20px;
}

.location-data {
  font-size: 14px;
  color: #000000;
  text-transform: capitalize;
  margin-top: 10px;
}

/* SEVENTH SECTION */

.contact-title {
  font-size: 30px;
  font-family: 'Merriweather', serif;
}

.contact-text {
  margin-top: 10px;
  color: #adadaf;
  font-size: 14px;
}

.form-fields {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.contact-form-title {
  font-size: 14px;
  font-weight: 600;
}

.contact-form-title::after {
  content: '*';
  color: red;
}

.contact-form-input {
  margin-top: 10px;
  padding: 15px;
  border: 1px solid #adadaf;
  border-radius: 2px;
}

.contact-form-btn {
  display: flex;
  justify-content: center;
  padding: 15px 30px;
  margin-top: 25px;
  background-color: #b5913e;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
}


/* SIDEBAR */

.sidebar-hotel-name {
  font-size: 32px;
  font-family: "Merriweather", serif;
  font-weight: 600;
}

.sidebar-list {
  list-style-type: circle;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.sidebar-item {
  font-size: 20px;
  font-family: 'Merriweather', serif;
  font-weight: 500;
  letter-spacing: 2px;
}